PROJECT_NAME=campyai
DOMAIN=campyai.com
DEBUG=False
EMAIL=tinoslabs@gmail.com

ALLOWED_HOSTS=${DOMAIN}, www.${DOMAIN}
CSRF_TRUSTED_ORIGINS=https://${DOMAIN}

DJANGO_SETTINGS_MODULE=${PROJECT_NAME}.prod_settings

DB_HOSTNAME=db
DB_PORT=3306
DB_NAME=${PROJECT_NAME}
DB_USERNAME=dbuser
DB_PASSWORD=generate_secure_password 
DB_ROOT_PASSWORD=generate_secure_password

# EMAIL_HOST=
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_PORT=

# REDIS_BACKEND=redis://redis:6379/0

# NGINX_PORT=80